<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BeebMaze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <BeebMaze.Properties.Settings>
      <setting name="PrimsRandomUseMax" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrimsRandomMaximum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColorCurrentBlock" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorVisitedBlock" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="ColorExitBlock" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorUnvisitedBlock" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="ColorIncorrectBlock" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="ColorWalls" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorDoors" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="RevealMaze" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MazeSize" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="DisplayDriver" serializeAs="String">
        <value>4</value>
      </setting>
    </BeebMaze.Properties.Settings>
  </userSettings>
</configuration>